<card class="post">
	<div class="border">
		<div class="post-name">
			<a href="/dash/post/{{id}}">{{title}}</a>
		</div>
		<div class="createdBy">
			<p>OP: {{user.username}} on {{toRegularTime createdAt}} </p>
		</div>
		<div class="content">{{content}}</div>
		<div class="comments">{{comment.comment_content}}</div>
	</div>

</card>