<article class="post">
	<div class="border">
		<div class="post-name">
			<a href="/post/{{id}}">{{title}}</a>
		</div>
		<div class="createdBy">
			<p>OP: {{user.username}} on {{createdAt}} </p>
		</div>
		<div class="content">{{content}}</div>
	</div>

</article>