{{#with posts}}
	<card class="post">
		<div class="border">
			<h2 class="post-name">
				{{title}}
			</h2>
			<div id="postId">{{id}}</div>
			<div id="OPId">{{user.id}}</div>
			<div class="createdBy">
				<p>OP: {{user.username}} on {{toRegularTime createdAt}} </p>
			</div>
			<div class="content">{{content}}</div>
			<br />
			<button id="addComment"><i
					class="fa-regular fa-comment-dots"
				></i></button>
		</div>
	</card>
{{/with}}

<button id="editButton">Edit</button>
<button id="deleteButton">Delete</button>

<h4><u>Comments:</u></h4>
{{#if posts.comments}}
	{{#each posts.comments}}
		<card class="comments">
			<br />
			<div class="content">
				<h6> {{comment_content}}</h6>
				<div>
					{{toRegularTime createdAt}}</div>
			</div>
		</card>
	{{/each}}
{{/if}}
<br />

<form id="commentForm">
	<label for="content">What would you like to comment?</label>
	<br />
	<input type="text" id="commentInput" />
	<button id="submitButton">Submit</button>
</form>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
<script src="/js/comment.js"></script>