{{#with posts}}
	<card class="post">
		<div class="border">
			<h2 class="post-name">
				{{title}}
			</h2>
			<div class="createdBy">
				<p>OP: {{user.username}} on {{toRegularTime createdAt}} </p>
			</div>
			<div class="content">{{content}}</div>
			<br />
			<button><a href="/submitComment"><i
						class="fa-regular fa-comment-dots"
					></i></a></button>
		</div>
	</card>
{{/with}}

{{#if posts.comments}}
	{{#each posts.comments}}
		<card class="comments">
			<h4><u>Comments:</u></h4>
			<br />
			<div class="content">
				<h6> {{comment_content}}</h6>
				<div>
					{{toRegularTime createdAt}}</div>
			</div>
		</card>
	{{/each}}
{{/if}}